
<div class="form">
	<%= form_with(model: @note, class: "note_form", id: "note_input", local: true) do |form| %>
		<%= form.text_area :body, class: "note_form-text" %>
		<%= form.submit "メモを登録", class: "note_form-btn" %>
	<% end %>
</div>

<div class="notes">
	<% @notes.each do |note| %>
		<div class="note" id="note<%= note.id %>">
			<span class="note_name">
				投稿者: ユーザー機能未実装
			</span>
			<%= link_to "削除", note_path(note.id), class: "note_delete", method: :delete %>
			<%= simple_format note.body, class: "note_body" %>
		</div>
	<% end %>
</div>