<h1>index</h1>
<ol>
	<li><%= link_to "example1", '/scroll/example1' %></li>
	<li><%= link_to "example2", '/scroll/example2' %></li>
	<li><%= link_to "example3", '/scroll/example3' %></li>
	<li><%= link_to "example4", '/scroll/example4' %></li>
	<li><%= link_to "example5", '/scroll/example5' %></li>
	<li><%= link_to "example6", '/scroll/example6' %></li>
</ol>